.FooterContainer {
  width: 100%;
  padding: 12px;
  background-color: rgba(0, 255, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.imageBox {
  height: 60px;
  width: 120px;
  background-image: url("/v_image.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 12;
  width: 30%;
}

.footerLink {
  text-decoration: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #434343;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 12px;
  width: 15%;
}

.socialMediaIcon {
  height: 42px;
  width: 42px;
  cursor: pointer;
  background-color: white;
  padding: 8px;
  border-radius: 12px;
}

@media (max-width: 540px) {
  .FooterContainer {
    flex-direction: column;
    gap: 24px;
  }

  .footerLinks {
    width: 100%;
  }

  .socialMediaIcons {
    width: 100%;
  }
}
